.favourites-container {
}

.favourites-container > .favourites-top-level {
}

.favourites-top-level > .favourites-top-level > .favourites {
}

.favourites:hover {
}

.favourites > ul {
}

.favourites-fave-star {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.favourites-fave-star > a {
  color: black;
}

.favourites-input-section {
}

.favourites-link-input {
}

.favourites-display-input {
}

.favourites-input-section > button {
}
