.ideas-container{
    grid-area: ideas;
    width: 24.4vw;
    max-width: 345px;
    height: 19vh;
    background-color: #DAD1D4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ideas-input > a {
    font-size: 12px;
    color: black;
}

.ideas-top > button{
    background-color: transparent;
    border: none;
}

.ideas-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
}

.ideas-idea {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
}

.ideas-refresh{
    font-size: 25px;
}

.ideas-input{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5vw;
}

.ideas-input > button {
    background-color: #F9DFDF;
    margin-left: 0.4vw;
    width: 62px;
}

.ideas-idea-input{
    width: 23vw;
    max-width: 318px;
}

.ideas-link-input{
    width: 17.7vw;
    max-width: 250px;
}

