.goals-input-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31vw;
    max-width: 435px;
    min-width: 385px;
    height: 4vh;
    gap: 0.2vw;
  }

.goals-input-section > input {
  width: 8.4vw;
  white-space: nowrap;
}
  
  .goals-input-section > h3 {
    padding: 0.1vw;
    word-wrap: normal;
  }
  
  .goals-input-section > button {
    background-color: hsl(0, 68%, 93%);
    width: 4.2vw;
    min-width: 62px;
  }