header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
}

header > h1 {
font-size: 20px;
text-align: center;
padding: 20px;
}

header > p {
padding: 20px;
}