* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navdropdown {
    width: 100px;
    background-color:  #DAD3D0;
}

.nav-link {
    color: black;
    text-decoration: none;
}
.nav-item {
    color: black;
    list-style: none;
}