nav {
    grid-area: nav;
    font-size: 15px; 
    width: 10.5vw;
}

nav > ul {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    list-style-type:none;
    margin-left: 10px;
    padding: 0;
    justify-content: space-around;
    height: 400px;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
}

nav > ul > li > a:hover{
    color: white;
}

nav > ul > li {
    color: black;
    list-style: none;
    text-indent: 0px;
}

nav > button {
    background-color: transparent;
    border: none;
    padding: 20px;
}