.page-container {
  display: grid;
  width: 90vw;
  height: 90vh;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 
    2% 
    4% 
    6.5% 
    74%
    6.5%
    4%
    2%;
  grid-template-areas:
  "nav    space  space"
  "nav    header space1"
  "nav    space2 space1"
  "nav    main   space1"
  "space3 space3 space3"
  "space4 footer space5"
  ;
  align-content: center;
  justify-content: center;
}

/* @media only screen and (max-width: 1340px) {
  .page-container {
    width: 100vw;
    height: 100vh;
    grid-template-rows: 
      0.1% 
      4% 
      4% 
      82%
      4%
      4%
      0.1%;
  }
}

@media only screen and (max-width: 1100px) {
  .page-container {
    grid-template-areas:
    "nav    header space1"
    "nav    space2 space1"
    "nav    main   space1"
    "space4 footer space5"
    ;
    grid-template-rows: 
      4% 
      4% 
      82%
      4%
  }
} */

@media only screen and (max-width: 1340px) {
  .page-container {
    width: 100vw;
    height: 110vh;
    grid-template-areas:
    "nav    header"
    "nav    space2"
    "nav    main  "
    "space3 footer"
    "space4 space4"
    ;
    grid-template-columns: 15% 85%;
    grid-template-rows: 
      4% 
      4% 
      80%
      4%
      2%;
  }
}

@media only screen and (max-width: 950px){
  .page-container {
    height: 120vh;
  }
}

/*1920×1080 (9.61%)
1366×768 (7.87%)
360×640 (4.36%)
414×896 (4.34%)
1536×864 (4.11%)*/