.goals-section {
  grid-area: goals;
  width: 29vw;
  min-width: 390px;
  height: 24vh;
  background-color: #D9C9C9;
}

.goals-background {
  width: 28.4vw;
  min-width: 380px;
  height: 19vh;
  background-color: #E7D2D7;
  border: 4px solid  #D9C9C9;
  overflow-y: scroll;
}

.goals-top > select {
  background:#F1E2E5;
  border: 1px solid #969696;
}

.goals-top > a {
  color: black;
  font-size: 12px;
}

.goals-content{
  display: flex;
  flex-direction: row;
  height: 19vh;
}