.poetry-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.poetry-container {
    grid-area: poetry;
    background-color: #CFD4DB;
    width: 29vw;
    min-width: 340px;
    height: 12vh;
  }
    
  .poetry-text {
    background: var(--background);
    border: 3px solid #CFD4DB;
    width: 28vw;
    min-width: 310px;
    height: 11.4vh;
    font-size: 14px;
    text-indent: 4px;
  }

  .poetry-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 5px;
    width: 3vw;
    min-width: 20px;
    height: 8vh;
  }
  
  .poetry-icons > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    width: 2vw;
    height: 3vh;
    padding: 1px;
  }
  
  .poetry-icons > button:hover {
    color: white;
  }
    
  #poetry-heart-icon{
    font-size: 25px;
  }
  #poetry-heart-icon-filled{
    font-size: 25px;
    color: var(--filled-heart)
  }
  
  #poetry-book-icon{
    font-size: 25px;
  }
  
  #poetry-refresh-icon{
    font-size: 25px;
  }

  .lines {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }