.poetry-container {
  background-color: #CFD4DB;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
    
  .poetry-text {
    background: var(--background);
    width: 85%;
    height: 85%;
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .poetry-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 55px;
  }

  .poetry-lines {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
  }
  
  .poetry-icons > button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: black;
  }
  
  .poetry-icons > button:hover {
    color: white;
  }
  
  #poetry-heart-icon-filled{
    font-size: 25px;
    color: var(--filled-heart)
  }
  
  #poetry-book-icon{
    font-size: 30px;
    color: black;
  }

  #poetry-book-icon:hover{
    color: white;
  }