/* .content-container{
    grid-area: main;
    width: 75vw;
    max-width: 1080px;
    height: 80vh;
    display: grid;
    grid-template-columns: 33% 43% 24%;
    grid-template-rows: 17% 8% 27% 45%;
    grid-template-areas: 
    "weather poetry gallery"
    "weather goals gallery"
    "ideas goals favourites"
    "tasks tasks favourites"
    ;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

@media only screen and (max-height: 840px){
  .content-container{
    height: 80vh;
  }
}

@media only screen and (max-width: 1240px) {
  .content-container{
    width: 80vw;
    height: 76vh;
    grid-template-columns: 22% 26% 26% 26%;
    grid-template-rows: 13% 20% 5% 26% 36%;
    grid-template-areas:
    "weather weather weather weather" 
    "poetry poetry poetry gallery"
    "ideas goals goals gallery"
    "ideas goals goals favourites"
    "tasks tasks tasks favourites"
    ;
  }

  .weather-container{
    width: 80vw;
    background: white;
    height: 110px;
  }

  .poetry-container {
    width: 59vw;
    max-width: 700px;
    height: 14vh;
  }
    
  .poetry-text {
    width: 54vw;
    height: 13.5vh;
    font-size: 15px;
  }

  .poetry-icons {
    justify-content: space-evenly;
    gap: 12px;
    width: 4.5vw;
    height: 10vh;
  }
  
  .poetry-icons > button {
    width: 2.2vw;
    height: 3vh;
    padding: 1px;
  }

  .gallery-section {
    width: 20vw;
    height: 18vh;
  }
    
  .gallery-section > img {
    max-width: 20vw;
    height: 13.5vh;
  }

.goals-section {
  width: 41vw;
  max-width: 490px;
  height: 23vh;
}

.goals-background {
  width: 40.2vw;
  max-width: 480px;
  height: 18.2vh;
}

.list-item-container {
  width: 39vw;
  max-width: 470px;
}

.favourites-container{
  height: 46.5vh;
  width: 20vw;
  grid-template-columns: 20vw;
  grid-template-rows: 8% 12% 65% 15%;
}

.favourites-top-level {
  width: 18vw;
}

.favourites-input-section{
  width: 20vw;
}

.favourites {
  width: 20vw;
}

.favourites > ul {
  width: 18.5vw;
}

.fave-star {
  width: 17.5vw;
}

.ideas-container{
  width: 17vw;
  height: 22.5vh;
  justify-content: space-around;
}

.ideas-top{
gap: 0px;
flex-wrap: wrap;
}

.idea-input{
  width: 16vw;
}

.idea-link-input{
  width: 9.8vw;
}

.tasks-container {
  width: 59vw;
  height: 26.5vh;
}

.tasks-section{
  width: 58vw;
  height: 21.8vh;
}

.tasks > ul > li {
  width: 81vw;
}
}

@media only screen and (max-width: 1070px){
  .content-container{
    width: 80vw;
    height: 76vh;
    grid-template-columns: 22% 26% 26% 26%;
    grid-template-rows: 13% 20% 5% 26% 36%;
    grid-template-areas:
    "weather weather weather weather" 
    "poetry poetry poetry gallery"
    "ideas goals goals favourites"
    "ideas goals goals favourites"
    "tasks tasks tasks favourites"
    ;
  }

  .gallery-section {
    width: 20vw;
    height: 14vh;
  }
    
  .gallery-section > img {
    max-width: 20vw;
    height: 10vh;
  }

  .favourites-container{
    height: 50vh;
  }

  .tasks > ul > li {
    width: 70vw;
    border: 1 px solid blue;
  }
  .priority-task {
    width: 30vw;
    border: 1 px solid blue;
  }
}

@media only screen and (max-width: 800px){
  .content-container {
    width: 80vw;
    height: 80vh;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 35% 35% 30%;
    grid-template-areas: 
    "links links links"
    "gallery gallery help-about"
    "poetry poetry poetry"
    ;
    align-items: center;
    justify-items: center;
  }

  .header-bar > h1 {
    font-size: min(3vw, 17px);
  }

  .header-bar > p {
    padding: 0px;
    font-size: min(3vw, 16px);
  }

  .footer-bar > p {
    padding: 0px;
    font-size: min(3vw, 16px);
  }

  .mobile-links-container {
    grid-area: links;
    width: 80vw;
    height: 27.5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    text-align: center;
    font-size: min(3.5vw, 18px);
    align-items: center;
    justify-content: space-between;
  }

  .mobile-tasks-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF5F4;
    width: 25vw;
    height: 13vh;
    border: 1px solid #C4C4C4;
  }

  .mobile-goals-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEECF5;
    width: 25vw;
    height: 13vh;
    border: 1px solid #C4C4C4;
  }

  .mobile-favourites-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5ECF0;
    width: 25vw;
    height: 13vh;
    border: 1px solid #C4C4C4;
  }

  .mobile-ideas-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5EEEC;
    width: 25vw;
    height: 13vh;
    border: 1px solid #C4C4C4;
  }

  .mobile-poetry-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4EC;
    width: 25vw;
    height: 13vh;
    border: 1px solid #C4C4C4;
  }

  .mobile-gallery-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF5EC;
    width: 25vw;
    height: 13vh;
    border: 1px solid #C4C4C4;
  }

  .help-about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: help-about;
    gap: 5px;
    font-size: min(3.5vw, 18px);
    height: 27vh;
  }

  .mobile-help-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    width: 25vw;
    height: 13vh;
  }

  .mobile-about-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    width: 25vw;
    height: 13vh;
  }

  .gallery-section {
    width: 52vw;
    max-width: 200px;
    height: 27vh;
  }

  .gallery-section > img {
    width: 49.5vw;
    max-width: 160px;
    height: 19vh;
  }

  .gallery-info-container{
    width: 51vw;
    max-width: 200px;
    height: 7.5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
  }

  .gallery-info{
    width: 51vw;
    max-width: 500px;
    height: 3.5vh;
    font-size: min(3vw, 16px);
    padding: 0vw;
  }

  .icons-container {
    justify-content: space-evenly;
    width: 47vw;
    max-width: 250px;
  }

  .icons-container > button{
    width: 5vw;
    height: 2.5vh;
  }

  .poetry-container {
    width: 78.5vw;
    min-width: 100px;
    height: 23.5vh;
  }

  .poetry-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 71vw;
    height: 22.5vh;
    font-size: min(3.5vw, 21px);
    padding: 1px;
  }

  .poetry-icons {
    justify-content: space-around;
    width: 8vw;
    height: 22.5vh;
    align-items: center;
  }
  
  .poetry-icons > button {
    width: 7vw;
    height: 5vh;
    padding: 0px;
  }

}

/* @media only screen and (max-width: 1340px) {
    .content-container{
        width: 72vw;
        height: 80vh;
        display: grid;
        grid-template-columns: 22% 50% 28%;
        grid-template-rows: 18% 10% 20% 20% 32%;
        grid-template-areas: 
        "weather poetry gallery"
        "weather goals gallery"
        "weather goals favourites"
        "weather ideas favourites"
        "tasks tasks tasks"
        ;
        align-items: flex-start;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }

    .weather-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 15vw;
        align-self: center;
        background: white;
        height: 650px;;
    }

    .poetry-container {
        width: 35vw;
        height: 13.8vh;
      }
        
      .poetry-text {
        width: 32vw;
        height: 13vh;
      }

    .goals-section {
        width: 35vw;
        height: 18vh;
      }
      
      .goals-background {
        width: 34.4vw;
        height: 18.5vh;
      }

    .gallery-section {
        width: 19vw;
        height: 21.7vh;
      }
        
      .gallery-section > img {
        max-width: 18vw;
        height: 14.5vh;
      }
        
      .gallery-info-container{
        width: 19vw;
        height: 6.5vh;
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
      }

      .gallery-info{
        width: 31.5vw;
        height: 3.5vh;
        font-size: 11.5px;
        padding: 0.2vw;
        
      }

      .icons-container {
        justify-content: space-evenly;
        width: 31.5vw;
      }

      .icons-container > button{
        width: 3vw;
        height: 2.5vh;
      }

      .ideas-container{
        width: 35vw;
        height: 15.5vh;
    }

    .favourites-container{
        height: 31.5vh;
        width: 19vw;
    }
    .favourites-input-section {
        margin-bottom: 11px;
    }

    .favourites-input-section > button{
        width: 61.5px;
    }

    .tasks-container {
        width: 70.9vw;
        height: 25vh;
    }

    .tasks-section{
        width: 69vw;
        height: 20.5vh;
    }

    .tasks > ul > li {
        width: 68vw;
    }
}

@media only screen and (max-width: 1100px) {

    .content-container{
        grid-template-columns: 28% 16% 28% 28%;
        grid-template-rows: 25% 16% 29% 30%;
        grid-template-areas: 
        "weather weather ideas gallery"
        "favourites poetry poetry poetry"
        "favourites goals goals goals"
        "tasks tasks tasks tasks";
    }

    .weather-container{
        display:block;
        width: 320px;
        align-self: center;
        background: white;
        height: 210px;
    }


    .poetry-container {
      width: 51vw;
      height: 12vh;
    }
      
    .poetry-text {
      width: 46vw;
      height: 11.5vh;
    }

    .goals-section {
        width: 51vw;
        height: 22vh;
      }
      
    .goals-background {
      width: 50.2vw;
      height: 18vh;
    }

    .list-item-container {
      width: 49vw;
      padding: 0.5vw;
    }

  .gallery-section {
      width: 19vw;
      height: 19.5vh;
    }
      
    .gallery-section > img {
      max-width: 18vw;
      height: 13.5vh;
    }
      
    .gallery-info-container{
      width: 19vw;
      height: 4vh;
    }

    .gallery-info{
      height: 3vh;
      font-size: 11px;  
    }

    .icons-container {
      width: 31.5vw;
    }

    .icons-container > button{
      width: 3vw;
      height: 2vh;
    }

    .ideas-container{
      width: 20.5vw;
      height: 19.5vh;
  }


  .ideas-top{
    gap: 0px;
}

.idea-link-input{
    width: 12vw;
}

  .favourites-container{
      height: 35.5vh;
      width: 19vw;
  }

  .favourites {
    width: 19vw;
  }

  .favourites > ul > li {
    margin-bottom: 14px;
  }

  .tasks-container {
      width: 70.9vw;
      height: 22vh;
  }

  .tasks-section{
      width: 69vw;
      height: 17.5vh;
  }
}



@media only screen and (max-width: 940px){

  .content-container{
    width: 84vw;
    height: 79vh;
    grid-template-columns: 31% 19% 24% 26%;
    grid-template-rows:  22% 15% 16% 13% 30%;
    grid-template-areas: 
    "weather weather  ideas gallery"
    "poetry poetry   poetry     favourites"
    "goals goals     goals     favourites"
    "goals goals     goals favourites"
    "tasks tasks     tasks   tasks";
    justify-items: flex-start;
  }

  .poetry-container {
    width: 61vw;
    height: 11.5vh;
  }
    
  .poetry-text {
    width: 57vw;
    height: 10.8vh;
  }

  .gallery-section {
    width: 21.5vw;
    height: 17vh;
  }
    
  .gallery-section > img {
    max-width: 18.5vw;
    height: 11.2vh;
  }

  .weather-container{
    width: 41.5vw;
    height: 210px;
}

.goals-section {
  width: 61vw;
  height: 22.5vh;
}

.goals-background {
  width: 60vw;
  height: 17.5vh;
}

.list-item-container {
  width: 58.5vw;
}

.favourites {
  width: 21vw;
}

.favourites-container{
  height: 34.4vh;
  width: 17vw;
}

.favourites-input-section{
  width: 20vw;
}

.ideas-container{
  width: 20vw;
  height: 17vh;
}

.idea-link-input{
  width: 11.5vw;
}

.tasks-container {
  width: 83.5vw;
  height: 24.5vh;
}

.tasks-section{
  width: 82vw;
  height: 20vh;
}

.tasks > ul > li {
  width: 81vw;
}

}

@media only screen and (max-width: 870px){

  .content-container{
    width: 84vw;
    height: 79vh;
    grid-template-columns: 31% 19% 24% 26%;
    grid-template-rows:  22% 15% 16% 13% 30%;
    grid-template-areas: 
    "weather weather  ideas gallery"
    "poetry poetry   poetry     favourites"
    "goals goals     goals     favourites"
    "goals goals     goals favourites"
    "tasks tasks     tasks   tasks";
    justify-items: flex-start;
  }

  .poetry-container {
    width: 61vw;
    height: 11.5vh;
  }
    
  .poetry-text {
    width: 57vw;
    height: 10.8vh;
  }

  .gallery-section {
    width: 21.5vw;
    height: 17vh;
  }
    
  .gallery-section > img {
    max-width: 18.5vw;
    height: 11vh;
  }

  .weather-container{
    width: 41.5vw;
    height: 210px;
}

.goals-section {
  width: 61vw;
  height: 22.5vh;
}

.goals-background {
  width: 60vw;
  height: 17.5vh;
}

.list-item-container {
  width: 58.5vw;
}

.favourites {
  width: 21vw;
}

.favourites-container{
  height: 34.5vh;
  width: 17.5vw;
}

.favourites-input-section{
  width: 20vw;
}

.ideas-container{
  width: 20vw;
  height: 17vh;
}

.idea-link-input{
  width: 11.5vw;
}

.tasks-container {
  width: 83.5vw;
  height: 24.5vh;
}

.tasks-section{
  width: 82vw;
  height: 20vh;
}

.tasks > ul > li {
  width: 81vw;
}

}

@media only screen and (max-width: 768px) {
  .content-container{
    width: 84vw;
    height: 90vh;
    grid-template-columns: 60% 40%;
    grid-template-rows:  24% 14% 15% 13% 30%;
    grid-template-areas: 
    "weather gallery"
    "poetry poetry"
    "goals goals"
    "favourites ideas"
    "tasks tasks";
    justify-items: flex-start;
  }

  .weather-container{
    width: 50vw;
    height: 210px;
}

  .poetry-container {
    width: 61vw;
    height: 11.5vh;
  }
    
  .poetry-text {
    width: 57vw;
    height: 10.8vh;
  }

  .gallery-section {
    width: 21.5vw;
    height: 17vh;
  }
    
  .gallery-section > img {
    max-width: 18.5vw;
    height: 11vh;
  }

.goals-section {
  width: 61vw;
  height: 22.5vh;
}

.goals-background {
  width: 60vw;
  height: 17.5vh;
}

.list-item-container {
  width: 58.5vw;
}

.favourites {
  width: 21vw;
}

.favourites-container{
  height: 34.5vh;
  width: 17.5vw;
}

.favourites-input-section{
  width: 20vw;
}

.ideas-container{
  width: 20vw;
  height: 17vh;
}

.idea-link-input{
  width: 11.5vw;
}

.tasks-container {
  width: 83.5vw;
  height: 24.5vh;
}

.tasks-section{
  width: 82vw;
  height: 20vh;
}

.tasks > ul > li {
  width: 81vw;
}

} */ 