.weather-container{
    display: block;
    grid-area: weather;
    width: 24vw;
    min-width: 316px;
    height: 210px;
}

#weatherwidget-io-0 {
    height: 80px;
}

@media only screen and (min-width: 1250px) {
    .weather-container{
        max-width: 360px;
    }
}