:root{
  --background: #EDE6E3;
  --header: #DAD3D0;
  --filled-heart: #fa6b6b;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  opacity: 0.25;
  border-radius: 10px;
}

body {
  background-color: var(--background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  display: grid;
  width: 100vw;
  height: 100%;
  grid-template-columns: 200px 80%;
  grid-template-rows: 80px 90% 80px;
  grid-template-areas:
  "nav header"
  "nav main"
  "nav  footer"
  ;
  justify-items: center;
}

.content-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

}

nav {
  grid-area: nav;
}

.poetry-gallery-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.ideas-goals-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.favourites-tasks-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: #C7C7C7;
    align-items: center;
    height: 350px;
}

.tasks-top-level {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.tasks-input-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tasks-input-section > button {
    background-color: #F9DFDF;
  }
  
.tasks-input-section > select {
    background:white;
    border: 1px solid #969696;
  }

.tasks-order-link {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 200px;
}
  
.tasks-order-link > select {
    background:white;
    border: 1px solid #969696;
}

.tasks-order-link > a{
    color: black;
    font-size: 12px;
}

.tasks-text-input {
    width: 250px;
    max-width: 300px;
    height: 17px;
}

.tasks-section {
    background: white;
    display: flex;
    width: 96%;
    flex-direction: column;
    justify-self: center;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 275px;
  }
  
  .tasks-section:hover {
    overflow-y: auto;
  }

.tasks-section > .tasks-top-level{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.tasks > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}


.tasks > ul > li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.tasks-priority-task {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 70%;
    height: 25px;
    align-self: center; 
}


.tasks-priority-deadline-delete {
    display: flex;
    width: 210px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.tasks-task-delete{
    font-size: 18px;
    align-self: center;
}

.low-priority{
    font-size: 10px;
    color: white;
    stroke: #818181;
    stroke-width: 30px;
}
.med-priority{
    font-size: 10px;
    color: #FFB265;
}
.high-priority{
    font-size: 20px;
    color: red;
    justify-self:flex-start;
    width: 10px;
}

.priority-deadline {
    display: flex;
}

.not-started {
    background-color: #FCC7C4;
    border: none;
}

.in-progress {
    background-color: #F7EECF;
    border: none;
}

.completed {
    background-color: #D0E6C0;
    border: none;
} 

/*

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 
    4% 
    4% 
    5% 
    74%
    5%
    4%
    4%;
  grid-template-areas:
  "v v      y"
  "nav header y"
  "nav x      y"
  "nav main   y"
  "w   z      y"
  "w   footer y"
  "w   a      y"
  ;
  justify-items: center;
}

@media only screen and (max-width: 1240px) {
  .page-container {
    width: 100vw;
    height: 100vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 15% 85%;
    grid-template-rows: 
    4% 
    4% 
    4% 
    76%
    4%
    4%
    4%;
    grid-template-areas:
    "v v     "
    "nav header"
    "nav x     "
    "nav main  "
    "w   z     "
    "w   footer"
    "w   a     "
    ; 
  }
}

@media only screen and (max-width: 800px){
  .page-container {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 
      2% 
      5% 
      3% 
      80%
      3%
      5%
      2%;
    grid-template-areas:
    "nav    space  space"
    "nav    header space1"
    "nav    space2 space1"
    "nav    main   space1"
    "space3 space3 space3"
    "space4 footer space5"
    "space6 space6 space6"
    ;
  }
}

@media only screen and (max-height: 840px){
  .page-container {
    grid-template-rows: 
      2% 
      5% 
      1% 
      84%
      1%
      5%
      2%;
  }
}

/* .app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
} */

/* @media only screen and (max-width: 1050px) {
  .app-container {
    height: 110vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 950px){
  .app-container {
    justify-content: flex-start;
    align-items: center; 
    height: 120vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 870px){
  .app-container {
    height: 130vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 768px){
  .app-container {
    height: 150vh;
    width: 100vw;
  }
} */