:root{
  --background: #EDE6E3;
  --header: #DAD3D0;
  --filled-heart: #fa6b6b;
}

body {
  background-color: var(--background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 1050px) {
  .app-container {
    height: 110vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 950px){
  .app-container {
    justify-content: flex-start;
    align-items: center;
    height: 120vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 870px){
  .app-container {
    height: 130vh;
    width: 100vw;
  }
}