.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 280px;
  background-color: var(--header);
}

.gallery-section img {
  max-width: 92%;
}

.gallery-info-container > p {
  font-size: 12px;
  margin: 10px;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.icons-container button {
  background-color: transparent;
  border: none;
  font-size: 20px;
} 

.icons-container button:hover {
  cursor: pointer;
  color: white;
} 

#heart-icon-filled{
  color: var(--filled-heart)
}

#gallery-icon:hover path{
  stroke: white;
}