.gallery-section {
  grid-area: gallery;
  background-color: var(--header);
  width: 17.5vw;
  height: 18vh;
}
  
.gallery-section > img {
  max-width: 16.5vw;
  height: 13.5vh;
  display: block;
  margin: auto;
  border-top: 5px solid var(--header)
}
  
.gallery-info-container{
  display: flex;
  align-items: center;
  width: 17.5vw;
  height: 3.6vh;
}

.gallery-info{
  display: flex;
  align-items: center;
  width: 11.6vw;
  height: 3.5vh;
  font-size: 11px;
  padding: 0.2vw;
}

.icons-container {
  display: flex;
  justify-content: center;
  width: 5vw;
}

.icons-container > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 1.8vw;
  height: 3vh;
  padding: 0.2vw;
}

.icons-container > button:hover {
  color: white;
}
  
#heart-icon{
  font-size: 25px;
}
#heart-icon-filled{
  font-size: 25px;
  color: var(--filled-heart)
}

#gallery-icon{
  font-size: 20px;
}

#refresh-icon{
  font-size: 25px;
}