.tasks-container {
    grid-area: tasks;
    width: 56vw;
    max-width: 800px;
    height: 32.5vh;
    background-color: #C7C7C7;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "tasks-input"
    "tasks-content";
}
.tasks-top-level {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.tasks-input-section {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.tasks-input-section > button {
    background-color: #F9DFDF;
  }
  
.tasks-input-section > select {
    background:white;
    border: 1px solid #969696;
  }

.tasks-order-link {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 55vw;
}
  
.tasks-order-link > select {
    background:white;
    border: 1px solid #969696;
}

.tasks-order-link > a{
    color: black;
    font-size: 12px;
}

.tasks-text-input {
    width: 21vw;
    max-width: 300px;
    height: 17px;
}

.tasks-section {
    grid-area: tasks-content;
    background: white;
    display: flex;
    flex-direction: column;
    width: 54.5vw;
    max-width: 780px;
    height: 26.5vh;
    justify-self: center;
    overflow-y: scroll;
}

.tasks-section > .tasks-top-level{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

/*.tasks{
    overflow-y: scroll;
    height: 19vh;
}*/

.tasks > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    margin-left: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.tasks > ul > li {
    display: flex;
    justify-content: space-between;
    width: 54vw;
    max-width: 760px;
    margin-right: 10px;
}

.priority-task {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 38vw;
    max-width: 540px;
    min-width: 150px;
    height: 25px;
    align-self: center; 
}

.priority-deadline-delete {
    display: flex;
    width: 210px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.task-delete{
    font-size: 18px;
    align-self: center;
}

.low-priority{
    font-size: 10px;
    color: white;
    stroke: #818181;
    stroke-width: 30px;
}
.med-priority{
    font-size: 10px;
    color: #FFB265;
}
.high-priority{
    font-size: 20px;
    color: red;
    justify-self:flex-start;
    width: 10px;
}

.priority-deadline {
    display: flex;
}

.not-started {
    background-color: #FCC7C4;
    border: none;
}

.in-progress {
    background-color: #F7EECF;
    border: none;
}

.completed {
    background-color: #D0E6C0;
    border: none;
}