.tasks-section > .tasks-top-level {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.not-started {
  background-color: #fcc7c4;
  border: none;
}

.in-progress {
  background-color: #f7eecf;
  border: none;
}

.completed {
  background-color: #d0e6c0;
  border: none;
}
