.goalsPage-section {
    grid-area: main;
    background-color: #D9C9C9;
    width: 65vw;
    height: 74vh;
    grid-area: main;
}

.goalsPage-background {
    width: 64vw;
    height: 70vh;
    background-color: #E7D2D7;
    border: 4px solid  #D9C9C9;
    overflow-y: hidden;
    overflow-x: hidden;
}

.goalsPage-background:hover {
    overflow-y: auto;
}

.goalsPage-top {
    background-color: #E7D2D7;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 63.5vw;
}

.goalsPage-top > select {
    background:#F1E2E5;
    border: 1px solid #969696;
}

.goalsPage-top > a {
    color: black;
    font-size: 12px;
}

.goalsPage-content{
    display: flex;
    flex-direction: row;
    height: 68vh;
}

.goalsPage-content > ul{
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.goalsPage-input-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    height: 4vh;
    gap: 0vw;
    margin-left: 20px;
}

.goalsPage-input-section > input {
    width: 17vw;
    white-space: nowrap;
}

.goalsPage-input-section > h3 {
    padding: 0.1vw;
    word-wrap: normal;
}

.goalsPage-input-section > button {
    background-color: hsl(0, 68%, 93%);
    width: 4.2vw;
    min-width: 62px;
}

.goalsPage-list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    padding: 8px;
}