.poetryPage {
    width: 75vw;
    max-width: 1080px;
    height: max-content;
    /*For testing on laptop*/
    max-height: 73vh;
    /*max-height: 950px;*/
    grid-area: main;
    background-color: #CFD4DB;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .poetryPage-title{
    font-weight: bold;
  }

  .highlighted {
    background-color: #ffffc9;
    border: 1px solid #ffff8a;
  }

  .poetryCard {
    width: 50%;
    min-width: 400px;
    overflow: hidden;
  }

  @media only screen and (max-width: 1060px){
    .poetryCard {
      width: 98%;
    }
  }

  .poetryPage-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .poetryPage-info{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    width: 100%;
}
    
  .poetryPage-text {
    background: var(--background);
    border: 3px solid #CFD4DB;
    width: 95%;
    height: 210px;
    font-size: 14px;
    line-height: 22px;
    text-indent: 4px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .poetryPage-text:hover {
    overflow-y: auto;
  }

  .poetryPage-button {
    background-color: hsl(0, 68%, 93%);
    width: 106px;
  }

  .poetryPage-lines {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .poetryPage-search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: max-content;
    width: 75vw;
    max-width: 1080px;
    justify-content: space-around;
    padding: 5px;
  }

  .poetryPage-search-bar{
    display: flex;
    background-color: white;
    align-items: center;
    height: 30px;
    width: 40vw;
    padding: 5px;
  }

  .poetryPage-search-bar > input{ 
    border: none;
    height: 27px;
    width: 38vw;
  }

  .poetryPage-search-buttons > button{
    height: 30px;
    width: 60px;
  }

  .poetryPage-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
  }