.favouritesPage-container{
    grid-area: main;
    width: 75vw;
    max-width: 1080px;
    height: 74vh; 
    background-color: #DAB9BF;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 5% 8% 87%;
    grid-template-areas: 
    "title input"
    "select select"
    "links links";
}

.favouritesPage-container > h3{
    text-align: center;
    width: 300px;
}

.favouritesPage-top-level {
    grid-area: select;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 0.3vw;
    width: 73vw;
    max-width: 1050px;
}

.favouritesPage-top-level > a{
    font-size: 12px;
    color: black;
}

.favouritesPage-top-level > select {
    background:#F1E2E5;
    border: 1px solid #969696;
    width: 30vw;
}

.favouritesPage{
    width: 75vw;
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 1080px;
    display: flex;
    justify-content: center;
}

.favouritesPage:hover {
    overflow-y: auto;
}

.favouritesPage > ul {
    list-style-type: none;
    padding: 0;
    margin: 0.8vw;
    width: 50vw;
    max-width: 500px;
}

.favouritesPage ul > li {
    display: flex;
    justify-content:space-between;
    line-height: 25px;
}

.favouritesPage-input-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-area: input;
    height: 55px;
    width: 50vw;
    max-width: 600px;
    gap: 10px;
    /* max-width: 250px; */
}

.favouritesPage-link-input{
    width: 20vw;
    max-width: 260px;
}

.favouritesPage-display-input{
    width: 15vw;
    max-width: 190px;
    margin-right: 0.3vw;
}

.favouritesPage-input-section > button{
    background-color: #F9DFDF;
    width: 62px;
} 