:root {
  --background: #ede6e3;
  --header: #dad3d0;
  --filled-heart: #fa6b6b;
}

body {
  background-color: var(--background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  opacity: 0.25;
  border-radius: 10px;
}

.content-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.poetry-gallery-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.ideas-goals-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.favourites-tasks-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .page-container {
    grid-template-columns: 70px 70% 20px;
    grid-template-rows: 92px 90% 90px;
    grid-template-areas:
      "nav    header space"
      "nav    main space"
      "nav    footer space";
  }

  nav > ul {
    position: absolute;
    background-color: var(--background);
  }

  .content-container {
  }

  .header-bar > h1 {
    font-size: 14px;
  }

  .header-bar > p {
    padding: 0px;
    font-size: 12px;
  }

  .footer-bar > p {
    padding: 0px;
    font-size: 12px;
  }

  .mobile-links-container {
    grid-area: links;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 5px;
    text-align: center;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-tasks-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf5f4;
    border: 1px solid #c4c4c4;
    width: 90px;
    height: 90px;
  }

  .mobile-goals-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeecf5;
    border: 1px solid #c4c4c4;
    width: 90px;
    height: 90px;
  }

  .mobile-favourites-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5ecf0;
    border: 1px solid #c4c4c4;
    width: 90px;
    height: 90px;
  }

  .mobile-ideas-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5eeec;
    border: 1px solid #c4c4c4;
    width: 90px;
    height: 90px;
  }

  .mobile-poetry-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4ec;
    border: 1px solid #c4c4c4;
    width: 90px;
    height: 90px;
  }

  .mobile-gallery-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf5ec;
    border: 1px solid #c4c4c4;
    width: 90px;
    height: 90px;
  }

  .help-about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: help-about;
    gap: 5px;
    font-size: 18px;
  }

  .gallery-info-container {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
  }

  .icons-container {
    justify-content: space-evenly;
  }

  .icons-container > button {
  }

  .poetry-container {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  .poetry-text {
    background: var(--background);
    width: 50px;
    height: 50px;
    padding: 0px;
    margin-left: 0px;
    font-size: 14px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .poetry-text:hover {
    overflow-y: auto;
  }

  .poetry-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 50px;
    width: 55px;
  }

  .poetry-lines {
    list-style: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
  }

  .poetry-icons > button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: black;
  }

  .poetry-icons > button:hover {
    color: white;
  }

  #poetry-heart-icon-filled {
    font-size: 25px;
    color: var(--filled-heart);
  }

  #poetry-book-icon {
    font-size: 30px;
    color: black;
  }

  #poetry-book-icon:hover {
    color: white;
  }
}
