.tasksPage-container {
    width: 75vw;
    max-width: 1080px;
    height: 74vh;
    grid-area: main;
    background-color: #C7C7C7;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "tasks-input"
    "tasks-content";
}
.tasksPage-top-level {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}

.tasksPage-input-section {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.tasksPage-input-section > button {
    background-color: #F9DFDF;
  }
  
.tasksPage-input-section > select {
    background:white;
    border: 1px solid #969696;
  }

.tasksPage-order-link {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 70vw;
}
  
.tasksPage-order-link > select {
    background:white;
    border: 1px solid #969696;
}

.tasksPage-order-link > a{
    color: black;
    font-size: 12px;
}

.tasksPage-text-input {
    width: 21vw;
    max-width: 300px;
    height: 17px;
}

.tasksPage-section {
    grid-area: tasks-content;
    background: white;
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 1000px;
    height: 65vh;
    justify-self: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .tasksPage-section:hover {
    overflow-y: auto;
  }

.tasksPage-section > .tasks-top-level{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.tasksPage > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    margin-left: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.tasksPage > ul > li {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 3vh;
    /* max-width: 760px; */
    margin-right: 10px;
}

.tasksPage-priority-task {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 43vw;
    /* max-width: 540px; */
    min-width: 150px;
    height: 25px;
    align-self: center;
}

.tasksPage-priority-deadline-delete {
    display: flex;
    width: 210px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.tasksPage-task-delete{
    font-size: 18px;
    align-self: center;
}