.galleryPage-container {
    width: 950px;
    grid-area: main;
    overflow-y: auto;
    display: flex;
}

.galleryPage-results {
    display: flex;
    flex-direction: column;
}

.galleryPage-cards { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 520px;
}

.galleryPage-arrows {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 80%;
    align-items: center;
    z-index: 10;
    position: absolute;
}

.galleryPage-images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
}

.galleryPage-card {
    width: 300px;
    height: 250px;
    background-color: var(--header);
}

.galleryPage-card > img {
    max-height: 23vh;
    max-width: 30vh;
    display: block;
    margin: auto;
    border: 5px solid var(--header)
}
    
.galleryPage-info-container{
    display: flex;
    align-items: center;
    width: 300px;
    height: 48px;
    justify-content: space-around;
}
  
.galleryPage-info{
    display: flex;
    align-items: center;
    width: 270px;
    height: 48px;
    font-size: 13px;
    padding: 0.2vw;
}
  
.galleryPage-info-container > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    font-size: 15px;
}
  
.galleryPage-info-container > button:hover {
    color: white;
}

.galleryPage-search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.galleryPage-search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 7px;
    border-radius: 5px;
}

.galleryPage-search-bar input {
    border: none;
}

.galleryPage-search-buttons {

}

.galleryPage-search-buttons button {
    background-color: #F9DFDF;
}